# ----------------------------
# Python cache & build files
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
build/
dist/
wheels/

# ----------------------------
# Environment variables files
# ----------------------------
.env
*.env

# ----------------------------
# Virtual environments
# ----------------------------
.venv/
venv/
env/

# ----------------------------
# OS / Editor files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Vercel build folder
# ----------------------------
.vercel/
